:root {
    --color-cream: #DFF8EB;
    --color-mauve: #A28F9D;
    --color-slate: #74776B;
    --color-granite: #5C574F;
    --color-charcoal: #48483A;
  }
  


body {
    font-family: sans-serif;
    display: flex;
    background-color: var(--color-charcoal);
    justify-content: center;
    align-items: center;
    
}
  
   
    nav{
        background-color: rgb(255, 255, 255);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }


  .home{
    background-color: var(--color-cream);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
  .homeB {
    background-color: var(--color-mauve);
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-top-right-radius: 12.5%;
    border-top-left-radius: 12.5%;
  }

  .homeB li {
    list-style: none;
    font-size: 2rem;
    margin: 1rem;
  }
  
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6495ED;
  }
  
  .square {
    width: 200px;
    height: 200px;
    background-color: #FF69B4;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #7CFC00;
  }
  
.shape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .square, .circle, .triangle, .rhombus {
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform-origin: center;
    margin: 20vh;
  }

  .squareB, .circleB, .triangleB, .rhombusB {
    width: 100vw;
    height: 100vh;
    background-color: #bdbdbd;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .rhombus {
    background: #CCC;
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    transform: rotate(67.5deg) skewX(45deg) scaleY(cos(45deg));
  }
  
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  